<!DOCTYPE html>
<html>
    <title>Pazaak</title>
    <meta charset="utf-8" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="pazaakController.js"></script>
    <body class="game-background">
        <div ng-app="pazaakApp" ng-controller="pazaakCtrl">
            <div class="grid-y grid-frame grid-padding-y">
                <div class="cell shrink cell-block-container">
                    <div class="grid-x grid-padding-x">
                        <div class="cell auto">
                            {{player.name}}
                        </div>
                        <div class="cell shrink">
                            {{player.score}}
                        </div>
                        <div class="board-divider">

                        </div>
                        <div class="cell shrink">
                            {{opponent.score}}
                        </div>
                        <div class="cell auto text-right">
                            {{opponent.name}}
                        </div>
                    </div>
                </div>

                <div class="cell auto cell-block-container">
                    <div class="grid-x grid-frame max-height grid-padding-x">
                        <div class="cell auto max-height text-right board-light-container">
                            <img ng-src="{{winCount('player', 1)}}" class="img board-light" />
                            <img ng-src="{{winCount('player', 2)}}" class="img board-light" />
                            <img ng-src="{{winCount('player', 3)}}" class="img board-light" />
                        </div>
                        <div class="cell auto cell-block-container max-height" ng-repeat="row in playerBoard">
                            <div class="grid-y max-height">
                                <div class="cell auto max-height" ng-repeat="card in row track by $index">
                                    <img ng-if="card.type" ng-src="assets/{{card.type}}{{card.value}}.jpg" class="img board-card" />
                                    <img ng-if="!card.type" ng-src="assets/null.jpg" class="img board-card" />
                                </div>
                            </div>
                        </div>
                        <div class="board-divider">
                            
                        </div>
                        <div class="cell auto cell-block-container max-height" ng-repeat="row in opponentBoard">
                            <div class="grid-y max-height">
                                <div class="cell auto max-height text-right" ng-repeat="card in row track by $index">
                                    <img ng-if="card.type" ng-src="assets/{{card.type}}{{card.value}}.jpg" class="img board-card" />
                                    <img ng-if="!card.type" ng-src="assets/null.jpg" class="img board-card" />
                                </div>
                            </div>
                        </div>
                        <div class="cell auto max-height board-light-container">
                            <img ng-src="{{winCount('opponent', 1)}}" class="img board-light" />
                            <img ng-src="{{winCount('opponent', 2)}}" class="img board-light" />
                            <img ng-src="{{winCount('opponent', 3)}}" class="img board-light" />
                        </div>
                    </div>
                </div>

                <div class="cell shrink cell-block-container">
                    <div class="grid-x grid-padding-x">
                        <div class="cell auto">
                            Player Hand
                        </div>
                        <div class="board-divider">
                            
                        </div>
                        <div class="cell auto text-right">
                            Opponent Hand
                        </div>
                    </div>
                </div>

                <div class="cell shrink cell-block-container">
                    <div class="grid-x grid-padding-x">
                        <div class="cell large-1">

                        </div>
                        <div class="cell large-1 text-center" ng-repeat="card in playerHand track by $index">
                            <img ng-if="card.type" ng-src="{{getCardImage(card)}}" ng-click="playCard($index)" class="img hand-card"  />
                            <img ng-if="!card.type" ng-src="assets/null.jpg" class="img hand-card" />
                            <br>
                            <button ng-if="card.type == 'pm' || card.type == 'mp'" class="secondary button" ng-click="flipCard($index)">FLIP</button>
                        </div>
                        <div class="cell auto">
                        </div>
                        <div class="cell large-1 text-center" ng-repeat="card in opponentHand track by $index">
                                <img ng-if="card.type" ng-src="assets/back.jpg" ng-click="playCard($index)" class="img hand-card"  />
                                <img ng-if="!card.type" ng-src="assets/null.jpg" class="img hand-card" />
                        </div>
                        <div class="cell large-1">

                        </div>
                    </div>
                </div>                

                <div class="cell shrink cell-block-container">
                    <div class="grid-x">
                        <div class="cell large-5 button-group align-center">
                            <button class="button" ng-disabled="gameDone" ng-click="endTurn()">
                                End Turn
                            </button>
                            <button class="button" ng-disabled="gameDone"  ng-click="stand()">
                                Stand
                            </button>
                        </div>
                        <div class="cell large-2 center">
                            <button class="button" ng-if="gameDone" ng-click="resetGame()">
                                Start New Game
                            </button>
                            <button class="button" ng-if="matchDone" ng-click="resetMatch()">
                                Start New Match
                            </button>
                        </div>
                        <div class="cell auto">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
